%form#lost-form{:style => "display:none;"}
  .modal-body.pb-5
    %h3.text-center.heading.mt-10.mb-20 パスワードの再設定
    .form-group.mb-10
      %input#lost_email.form-control{:placeholder => "登録したアドレスを入力", :type => "text"}/
    .text-center
      %button#lost_login_btn.btn.btn-link{:type => "button"} ログイン
      \/
      %button#lost_register_btn.btn.btn-link{:type => "button"} 新規登録
  .modal-footer.mt-10
    .row.gap-10
      .col-xs-6.col-sm-6
        %button.btn.btn-primary.btn-block{:type => "submit"} メールを送信
      .col-xs-6.col-sm-6
        %button.btn.btn-primary.btn-inverse.btn-block{"aria-label" => "Close", "data-dismiss" => "modal", :type => "submit"} 戻る
