= form_for(resource, as: resource_name, url: user_password_path(resource_name), remote: true, html: { id: "lost-form", style: "display:none" }) do |f|
  .modal-body.pb-5
    #js-lost-password-error
    %h3.text-center.heading.mt-10.mb-20 パスワードの再設定
    .form-group.mb-10
      = f.email_field :email, placeholder: "登録したアドレスを入力", autofocus: true, class: "form-control"
    .text-center
      %button#lost_login_btn.btn.btn-link{:type => "button"} ログイン
      \/
      %button#lost_register_btn.btn.btn-link{:type => "button"} 新規登録
  .modal-footer.mt-10
    .row.gap-10
      .col-xs-6.col-sm-6
        = f.button "メールを送信", class: "btn btn-primary btn-block"
      .col-xs-6.col-sm-6
        %button.btn.btn-primary.btn-inverse.btn-block{"aria-label" => "Close", "data-dismiss" => "modal", :type => "submit"} 戻る
