.clear
/ start Main Wrapper
.main-wrapper.scrollspy-container
  / start end Page title
  .page-title.detail-page-title
    .container
      .flex-row
        .flex-column.flex-md-8.flex-sm-12
          %h1.hero-title= @book.title
          %p.line18= @book.detail
  / end Page title
  .content-wrapper
    .container
      .row
        .col-sm-3.col-xs-12.mb-50-xs
          .scrollspy-sidebar.sidebar-detail
            = image_tag @book.image, alt: @book.title
        .col-sm-9.col-xs-12.mt-30-xs
          %h4.text-center 出品内容を変更する
          .payment-content
            = render "sell", book: @book
