.navbar-logo img {
  height: 45px;
}

.btn-primary {
  background-color: $accent_color;
  border-color: $accent_color;
  &:hover {
    background-color: lighten($accent_color, 10%);
    border-color: $accent_color;
  }
}

.main-wrapper .container .full-width #long-column-item {
  width: 50%;
}

.new-books .package-grid-item {
  width: 100%;
}

.btn-full-width {
  width: 100%;
}

.price span {
  font-size: calc(150%);
}

.user-thumbnail {
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.payment-traveller {
  border-bottom: 0;
}

.package-list-item-link .content p {
  color: #666;
  font-weight: lighter;
}

.hero {
  background-image: image-url("books.jpg");
}

.image-bg {
  background-image: image-url("books_on_desk2");
}

.page-title--user {
  background-image: image-url("my_room.jpeg");
}

.detail-page-title {
  background-image: image-url("books_on_desk2.jpg");
}

.alert {
  margin-bottom: 0;
}

#section-0 {
  border-bottom: none;
  margin-bottom: 0;
}

#section-2 {
  margin-top: 50px;
}

.section-line {
  height: 1px;
  background-color: #E3E3E3;
  border: none;
  margin: 0;
  width: inherit;
}

.tag-container {
  padding: 15px;
}

.tag-container--search {
  width: 50%;
  padding: 15px;
  padding-top: 30px;
  padding-left: 30px;
}

.absolute-in-image div.duration.tag-float {
  padding: 3px;
  float: left;
}


.package-grid-item {
  position: relative;
}

a.tag-color {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.tag-link {
  background: #0f926d;
  color: #FFF;
  margin: 1px 0;
  padding: 4px 7px;
  border-radius: 3px;
  line-height: 1;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  &:hover {
    color: white;
  }
}

.related-title {
  color: black;
  margin-top: 0;
}

.sold-out {
  float: right;
  width: 30%;
  -webkit-transform: rotate(15deg);
     -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
       -o-transform: rotate(15deg);
          transform: rotate(15deg);
}

.width100 {
  width: 100%;
}

.pos-rel {
  position: relative;
}

.panel h3{
  margin-top: 0;
}


#site_title {
  img {
    max-height: 50px;
    width: initial;
    max-width: initial;
  }
}

.flex-display-12 {
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
}

.flex-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-4 {
  display: flex;
  flex: 0 0 25%;
}

.flex-3 {
  display: flex;
  flex: 0 0 31%;
  max-width: 31%;
}

.reset-pass-content {
  width: 75%;
  margin: 30px auto;
}

.fa-heart {
  color: pink;
}

.float-list {
  float: left;
  li {
    padding: 5px 0;
  }
}

.align-right {
  text-align: right;
}

.pad-left {
  padding-left: 10px;
}

.hidden-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
